Q1. What is a database? Differentiate between SQL and NoSQL databases.
A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS).
SQL is the programming language used to interface with relational databases. (Relational databases model data as records in rows and tables with logical links between them). NoSQL is a class of DBMs that are non-relational and generally do not use SQL.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. These commands are used to create or modify the tables in SQL.
CREATE :
This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes.
Example –
We need to create a table for storing Student information of a particular College. Create syntax would be as below.

ALTER :
This command is used to add, delete or change columns in the existing table. The user needs to know the existing table name and can do add, delete or modify tasks easily.
In our Student_info table, we want to add a new column for CGPA. The syntax would be as below as follows.
TRUNCATE :
This command is used to remove all rows from the table, but the structure of the table still exists
Example –
The College Authority wants to remove the details of all students for new batches but wants to keep the table structure. The command they can use is as follows.
DROP :
This command is used to remove an existing table along with its structure from the Database.
Example –
If the College Authority wants to change their Database by deleting the Student_info Table.

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
The data manipulation language statements are used to retrieve, add, delete, and modify the data that is stored in the objects of database. The keywords or statements that are associated with the data manipulation language are: SELECT INSERT, UPDATE and DELETE. These are the primary statements of data manipulation language (DML) and are used widely.

INSERT Command
To add data to a table the INSERT command is used. The syntax of the INSERT command is given below:

INSERT into table-name values (data, data …)
Update Command:
To update a table or row or column in the table we use the update command. The syntax of update command is given below:

Update table-name set column-name = value where condition;
Delete Command
To delete a table row or some data from a table in the database the delete command is used. The syntax of delete command is as follows:

DELETE from table-name

Q4. What is DQL? Explain SELECT with an example.
Structured Query Language (SQL) is a specialized language for updating, deleting, and requesting information from databases. SQL is an ANSI and ISO standard, and is the de facto standard database query language. A variety of established database products support SQL, including products from Oracle and Microsoft SQL Server. It is widely used in both industry and academia, often for enormous, complex databases.
SELECT statements
An SQL SELECT statement retrieves records from a database table according to clauses (for example, FROM and WHERE) that specify criteria. The syntax is:

  SELECT column1, column2 FROM table1, table2 WHERE column2='value';

Q5. Explain Primary Key and Foreign Key.
A relational database is designed to enforce the uniqueness of primary keys by allowing only one row with a given primary key value in a table. Foreign keys. A foreign key is a column or a set of columns in a table whose values correspond to the values of the primary key in another table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword"
)

print(mydb)



It is an object that is used to make the connection for executing SQL queries. It acts as middleware between SQLite database connection and SQL query. It is created after giving connection to SQLite database. Syntax: cursor_object=connection_object
Python's built-in exec() function allows you to execute arbitrary Python code from a string or compiled code input. The exec() function can be handy when you need to run dynamically generated Python code, but it can be pretty dangerous if you use it carelessly

Q7. Give the order of execution of SQL clauses in an SQL query.
FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.
WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.
GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.